.tryTexRed{
	color: red
}
// navbar
.App{
	position: relative;
	min-height: 100vh;
}




// OneGarage.jsx

.garageID{
	min-width: 150px;
}

// CarCard.jsx

.carCard{
	min-width: 150px;
}

.carDataDiv{
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: yellow;
	text-transform: capitalize;

	div{
		margin:  0;
		
		&:nth-child(1) {
			font-weight: light;
			font-size: 75%;

		}


			&:nth-child(2){
				font-weight: bolder;
				font-size: 150%;
			}
	}

}


// random
.randomcar{
	height: 100vh;
}

.randomInner{
	min-height: 50vh;
}

.carNameInRandom{
 div {
		&:nth-child(1){
			text-transform: capitalize;
		}

	  &:nth-child(2){
		font-size: 150%;
		font-weight: bold;
		text-transform: capitalize;
	}

	&:nth-child(3){
		font-weight: 400;
	}
}
	
}

// about
.aboutDiv{
	
	 div{
		 max-width: 900px;
	 }
}